@font-face {
    font-family: BrixSans;
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
    src: url(30D81F_0_0.eot);
    src: url(30D81F_0_0.eot?#iefix) format('embedded-opentype'), url(30D81F_0_0.woff2) format('woff2'), url(30D81F_0_0.woff) format('woff'), url(30D81F_0_0.ttf) format('truetype')
}

@font-face {
    font-family: BrixSans;
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
    src: url(30D81F_1_0.eot);
    src: url(30D81F_1_0.eot?#iefix) format('embedded-opentype'), url(30D81F_1_0.woff2) format('woff2'), url(30D81F_1_0.woff) format('woff'), url(30D81F_1_0.ttf) format('truetype')
}

@font-face {
    font-family: BrixSans;
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src: url(30D81F_2_0.eot);
    src: url(30D81F_2_0.eot?#iefix) format('embedded-opentype'), url(30D81F_2_0.woff2) format('woff2'), url(30D81F_2_0.woff) format('woff'), url(30D81F_2_0.ttf) format('truetype')
}

@font-face {
    font-family: BrixSans;
    font-weight: 400;
    font-style: italic;
    font-display: fallback;
    src: url(30D81F_3_0.eot);
    src: url(30D81F_3_0.eot?#iefix) format('embedded-opentype'), url(30D81F_3_0.woff2) format('woff2'), url(30D81F_3_0.woff) format('woff'), url(30D81F_3_0.ttf) format('truetype')
}