<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">

      <div class="wrapper">
        {{ content }}
      </div>

      {% if page.sidebar %}
      <div class="sidebar"></div>
      {% endif %}

    </main>

    {%- include footer.html -%}

    <script src="{{ "/assets/js/mermaid.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/tocbot.min.js" | relative_url }}"></script>
    <script>
      tocbot.init({
        tocSelector: '.sidebar',
        contentSelector: '.post-content',
        headingSelector: 'h2, h3, h4',
        hasInnerContainers: true,
      });
  </script>
  </body>

</html>
